Xilinx/.metadata/
*.o
*.elf
tags
Xilinx/FFT/Debug/
kiss_fft130/test/_impact.cmd
kiss_fft130/test/_impact.log
kiss_fft130/test/test
test
SDK_Export_withAudio/.metadata/
SDK_Export_withAudio/zynq_audio/Debug/
FFT_HW/ise/fft_peripheral/isim/

FFT_HW/ise/fft_peripheral/ipcore_dir/_xmsgs/
FFT_HW/ise/fft_peripheral/testbench_stx_beh.prj
